body {
    background-color:black;
}
input {
    background-color:rgb(143, 125, 105);
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    
}
input:hover {
    border-style: solid;
    
    border-radius: 50%;
    border-color: rgb(44, 48, 53);
    background-color:rgb(133, 125, 110);
}

.container {
    position: relative;
    text-align: center 
}

div.container.choices{
    background-color: rgb(143, 125, 105);
    border-style: solid;
    border-color: rgb(49, 47, 44);
    border-radius: 3%;
    margin-left: 28%;
    margin-right: 28%;

}
.move {
    padding-top: 5%;
    text-align: center;
}
.scoreboard {
    position: absolute;
}
.scroll {
    z-index: 1;
}
#tally1 {
    position: relative;
    z-index: 2;
    width: 80px;
    padding-top: 50px;
    margin-left: 30px;
    
}
#tally2 {
    z-index: 3;
    width: 100px;
    width: 80px;
    padding-top: 120px;
    margin-left: -80px;
}